<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.ai.fprovider">

    <application>

        <meta-data
            android:name="com.github.ai.fprovider.provider_authority"
            android:value="test-authority" />

    </application>

</manifest>
